/*
 * This stylesheet contains only the customizations,
 * it gets loaded after Doxygen default CSS.
 * See HTML_EXTRA_STYLESHEET in Doxyfile.
 */

body, table, div, p, dl {
    font-family: -apple-system, Roboto, sans-serif;
    color: #2c3e50;
}

div.header {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

div.contents {
    padding: .7rem 1.5rem;
}

.fragment, pre.fragment, div.fragment {
    color: #fff;
    padding: 1.25rem 1.5rem;
    margin: 1.25rem 1.5rem;
    background-color: #282c34;
    border-radius: 6px;
    font-family: Monaco, Andale Mono, Ubuntu Mono, monospace;
}

div.line {
    color: #fff;
    font-family: Monaco, Andale Mono, Ubuntu Mono, monospace;
    line-height: 1.5;
}

#titlearea {
    padding: 3rem 1.5rem 0.7rem;
}

#projectbrief {
    color: #6a8bad;
}
